body { background: #aa6cc2; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 12px; display: flex; }
.block-filter-0 { color: #61218c; font-size: 16px; margin-bottom: 5px; }
.block-payment-1 { color: #a9db03; font-size: 20px; margin-bottom: 5px; }
.block-filter-2 { color: #67c814; font-size: 17px; margin-bottom: 5px; }
.block-helper-3 { color: #e373fe; font-size: 15px; margin-bottom: 5px; }
.block-router-4 { color: #11476d; font-size: 16px; margin-bottom: 5px; }